.container {
    display: grid;
    grid-template-columns: [first] 30% [line2] 30% [line3] 30%;
    grid-template-rows: [row1-start] 25% [row1-end] 25% [third-line] 25% [last-line] 25%;
    gap: 2rem;
  }

.item {
    grid-column-start: 1;
    grid-column-end: 4; 
    grid-row-start: 1;
    grid-row-end: 5;
    border: 5px green;
    text-align: center;
    justify-self: center;
    background-color:darkgray ;
  }

 .flagga > picture > img {
  width: 20rem;
  justify-content: center;
}

j