.container {
  background-color: antiquewhite;
    height: 126rem;
  }

.item {
  display: grid;
    grid-template-columns: [first] 30% [line2] 30% [line3] 30%;
    grid-template-rows: [row1-start] 25% [row1-end] 25% [third-line] 25% [fourth-line];
    gap: 2rem;
    text-align: center;
    align-items: center;
    margin-top: 3rem;   
    padding: 3rem;
  }

 .flagga > picture > img {
  width: auto;
  justify-content: start;
}