---
layout: base.njk
---

<main>
    <h1>Data dump</h1>
    <p>Min github user: {{ github.login }} och plats: {{ github.location }}.</p>

    <section class="container">
        <section class="item1">
            {% asyncAll item in unsplash.results %}
            {{ loop.first }}
                {% image item.urls.small, item.alt_description %}
           
        </section>
        <section class="item2">
            
               
        </section>
        <section class="item3">
           
                {% image item.urls.small, item.alt_description %}
          
        </section>
    </section>
</main>