---
layout: base.njk
---

<main>
    <h1>Data dump</h1>
    <p>Min github user: {{ github.login }} och plats: {{ github.location }}.</p>
    <div class="flagga">
        {{ denmark[0].name.nativeName.nob.common }}
        {% image denmark[0].flags.png,"danskjävlar" %}
    </div>
    <section class="container">
    <section class="item">
        {% asyncAll item in unsplash.results %}
        {% image item.urls.small, item.alt_description %}
        {% endall %}
    </section>
</section>
</main>